<%= simple_form_for([:admin, @page], wrapper: :bootstrap3) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :url %>
    <%= if Gem::Specification.find_all_by_name('rails_kindeditor').length >= 1
          f.input :content, :as => :kindeditor,labe: '电脑', :input_html => { :width => '100%', :height => 300 }
        else
          f.input :content, as: :text,labe: '电脑', input_html: { width: '100%', rows: 20 }
        end
    %>
    <%= if Gem::Specification.find_all_by_name('rails_kindeditor').length >= 1
          f.input :mobile_content, :as => :kindeditor,labe: '手机', :input_html => { :width => '100%', :height => 300 }
        else
          f.input :mobile_content, as: :text, labe: '手机', input_html: { width: '100%', rows: 20 }
        end
    %>

    <%#= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<% content_for :script do %>
<script type="text/javascript">
var editor;
KindEditor.ready(function(K) {
  editor = K.create('textarea[name="ncontent"]', {
    resizeType : 1,
    allowPreviewEmoticons : false,
    filterMode:false,
    allowImageUpload : false,
    items : ['source', '|', 'fullscreen', 'undo', 'redo', 'print', 'cut', 'copy', 'paste',
             'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
             'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
             'superscript', '|', 'selectall', '-',
             'title', 'fontname', 'fontsize', '|', 'textcolor', 'bgcolor', 'bold',
             'italic', 'underline', 'strikethrough', 'removeformat', '|', 'image',
             'flash', 'media', 'advtable', 'hr', 'emoticons', 'link', 'unlink']
  });
});

</script>
<% end -%>
