<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= Page.human_attribute_name(:title) %></th>
      <th><%= Page.human_attribute_name(:url) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.url %></td>
        <td><%= link_to t('actions.show'), "/huodongzhuanti/#{page.url}.html" %></td>
        <td><%= link_to t('actions.edit'), edit_admin_page_path(page) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @pages, theme: 'bootstrap' %>
<br>

<%= link_to "#{t('actions.new')}#{Page.model_name.human}", new_admin_page_path, class: 'btn btn-default' %>
