<p id="notice"><%= notice %></p>

<p>
  <strong><%= Book.human_attribute_name(:name) %>:</strong>
  <%= @book.name %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:manager_id) %>:</strong>
  <%= @book.manager_id %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:categoryable_id) %>:</strong>
  <%= @book.categoryable_id %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:detail) %>:</strong>
  <%= @book.detail %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:online) %>:</strong>
  <%= @book.online %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:customeize_order) %>:</strong>
  <%= @book.customeize_order %>
</p>

<%= link_to t('buttons.edit'), edit_admin_book_path(@book) %> |
<%= link_to t('buttons.back'), admin_books_path %>
