<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= Note.human_attribute_name(:title) %></th>
      <th><%= Note.human_attribute_name(:content) %></th>
      <th><%= Note.human_attribute_name(:recommendation) %></th>
      <th><%= Note.human_attribute_name(:price) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= note.recommendation %></td>
        <td><%= note.price %></td>
        <td><%= link_to t('actions.show'), [:admin, note] %></td>
        <td><%= link_to t('actions.edit'), edit_admin_note_path(note) %></td>
        <td><%= link_to t('actions.destroy'), [:admin, note], method: :delete, data: { confirm: '你确定吗?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('actions.new')}#{Note.model_name.human}", new_admin_note_path, class: 'btn btn-default' %>
