<p id="notice"><%= notice %></p>

<p>
  <strong><%= PointsRecord.human_attribute_name(:user_id) %>:</strong>
  <%= @points_record.user_id %>
</p>

<p>
  <strong><%= PointsRecord.human_attribute_name(:points) %>:</strong>
  <%= @points_record.points %>
</p>

<p>
  <strong><%= PointsRecord.human_attribute_name(:title) %>:</strong>
  <%= @points_record.title %>
</p>

<p>
  <strong><%= PointsRecord.human_attribute_name(:brief) %>:</strong>
  <%= @points_record.brief %>
</p>

<%= link_to t('buttons.edit'), edit_admin_points_record_path(@points_record) %> |
<%= link_to t('buttons.back'), admin_points_records_path %>
