<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @donate.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @donate.user_id %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @donate.manager_id %>
</p>

<%= link_to 'Edit', edit_donate_path(@donate) %> |
<%= link_to 'Back', donates_path %>
