<%= simple_form_for([:admin, @item_category], wrapper: :bootstrap3) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :cite_key %>
    <%= f.input :parent_id, collection: ItemCategory.tree.unshift(ItemCategoryRoot.new), label_method: :tree_select_name, prompt: "请选择类别"  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
