<p id="notice"><%= notice %></p>

<p>
  <strong><%= Vip.human_attribute_name(:name) %>:</strong>
  <%= @vip.name %>
</p>

<p>
  <strong><%= Vip.human_attribute_name(:levels) %>:</strong>
  <%= @vip.levels %>
</p>

<p>
  <strong><%= Vip.human_attribute_name(:price) %>:</strong>
  <%= @vip.price %>
</p>

<p>
  <strong><%= Vip.human_attribute_name(:parent_id) %>:</strong>
  <%= @vip.parent_id %>
</p>

<%= link_to t('buttons.edit'), edit_admin_vip_path(@vip) %> |
<%= link_to t('buttons.back'), admin_vips_path %>
