<% content_for :title ,'精选案例' -%>
  <div class="pagebnr bnr1">
    <div class="g-inr"><span><%= image_tag "banner-tit.png" -%></span></div>
  </div>
  <a name="tab"></a>
  <div class="g-body">
    <div class="g-inr">
      <div class="p_left f-fl"><h3 class="title anli">精选案例</h3></div><!--p_left end-->
      <div class="p_right f-fr">
        <div class="weizhi"><em class="f-fr">当前位置：首页 > 精选案例</em></div>
      </div><!--p_right end-->
    </div><!--g-inr end-->
    <!--筛选分类模块开始-->
    <div class="fenlei">
      <div class="center">
        <ul>
          <li>
            <h3>按风格</h3>
            <p>
              <%= link_to '不限', "#{case_index_path(mj: params[:mj], yusuan: params[:yusuan],anchor: "tab")}".insert(5, '.html'), class: "#{'sel' if params[:fg].blank?}"%>
              <% Fg.all.each do |f|%>
                <%= link_to f.title, "#{case_index_path(fg: f.id, mj: params[:mj], yusuan: params[:yusuan],anchor: "tab")}".insert(5, '.html'), class: "#{'sel' if f.id.to_s == params[:fg]}"%>
              <% end -%>
            </p>
          </li>
          <li>
            <h3>按面积</h3>
            <p>
            <%= link_to '不限', "#{case_index_path(fg:params[:fg], yusuan: params[:yusuan],anchor: "tab")}".insert(5, '.html'), class: "#{'sel' if params[:mj].blank?}"%>
            <% Mj.all.each do |f|%>
               <%= link_to f.title, "#{case_index_path(fg: params[:fg], mj: f.id, yusuan: params[:yusuan],anchor: "tab")}".insert(5, '.html'), class: "#{'sel' if f.id.to_s == params[:mj]}"%>

            <% end -%>
            </p>
          </li>
          <li>
            <h3>按预算</h3>
            <p>
              <%= link_to '不限', "#{case_index_path(fg:params[:fg], mj: params[:mj], anchor: "tab")}".insert(5, '.html'), class: "#{'sel' if params[:yusuan].blank?}"%>
              <% Yusuan.all.each do |f|%>
                <%= link_to f.title, "#{case_index_path(fg: params[:fg], mj: params[:mj] , yusuan: f.id,anchor: "tab")}".insert(5, '.html'), class: "#{'sel' if f.id.to_s == params[:yusuan]}"%>
              <% end -%>
            </p>
          </li>
        </ul>
      </div>
    </div><!--筛选分类模块结束-->


    <!--案例列表模块开始-->

    <div class="case-list">
      <div class="g-inr">
        <ul>
          <% @cases.each do |c|%>
            <% if c.designer %>
            <li class="trst">
              <div class="big">
                <%= link_to case_path("#{c.id}.html"), class: "imgLink" do %>
                  <%= image_tag c.product_pictures.where(pricture_type: 0).first.try(:path), alt:""%>
                  <span class="eyeIco trst"><h2><%= c.title%></h2></span>
                <% end -%>
              </div>
              <div class="text">
                <div class="t1">设计风格：<%= c.fg.title%> - 房屋面积：<%=c.mj.title%></div>
                <div class="t2">
                  <div class="t2-1">
                    <div class="mask"></div>
                    <div class="mer"><%= image_tag c.designer.avatar %></div>
                  </div>
                  <div class="t2-2"><h3><%= c.designer.name%></h3><p><span class="name"><%= c.designer.zw %></span></p></div>
                  <%= link_to "预约TA", "/designer/new.html?id=#{c.designer.id}", class: "t2-3" %>
                </div>
              </div>
            </li>
           <% end -%>
          <% end -%>
        </ul>
      </div>
    </div>
    <!--案例列表模块结束-->

    <!--分页符模块开始-->
    <div class="g-inr"> <%= paginate @cases %> </div>
    <!--分页符模块结束-->

  </div>
