<% content_for :title ,'精选案例' -%>
<header class="g-hd">
  <%= link_to "#{home_index_path}.html", class: "btnfanhui-page" do %>
    <span class="ico sprite"></span>
  <% end -%>
  <div class="btnMenu-page"><span class="ico sprite"></span></div>
  <strong>精选案例</strong>
  <%= link_to "#{serach_index_path}.html", class: "btnSearch-page" do %>
    <span class="ico sprite"></span>
  <% end -%>
</header>

<section class="g-body Common">
  <form action="" method="post" onsubmit="return checkForm(this);">
    <div class="formShip formPublish">
      <div class="shaixuan">
        <div class="inputItem f-box" style=" margin:0 auto;">
          <div class="selectWrap" style="width:280px;">
            <select name="" data-tipNull="风格" onchange="window.location=this.value">
              <option value="<%= case_index_path(mj: params[:mj], yusuan: params[:yusuan])%>">请选择风格</option>
              <% Fg.all.each do |f|%>
                <option value="<%= case_index_path(fg: f.id, mj: params[:mj], yusuan: params[:yusuan])%>" <%= 'selected' if f.id.to_s == params[:fg]%> > <%= f.title%> </option>
              <% end -%>
            </select>
            <span class="arrow"></span>
          </div>

          <div class="selectWrap" style="width:280px; left:25px;">
            <select name="" data-tipNull="面积" onchange="window.location=this.value">
              <option value="<%= case_index_path(fg:params[:fg], yusuan: params[:yusuan])%>">请选择面积</option>
              <% Mj.all.each do |f|%>
                <option value="<%= case_index_path(fg: params[:fg], mj: f.id, yusuan: params[:yusuan])%>" <%= 'selected' if f.id.to_s == params[:mj]%>><%= f.title%> </option>
              <% end -%>
            </select>
            <span class="arrow"></span>
          </div>
        </div>
                <div class="inputItem f-box" style="margin:0 auto;">
                    <div class="selectWrap" >
                            <select name="" data-tipNull="请选择预算价格" onchange="window.location=this.value">
                                <option value="<%= case_index_path(fg:params[:fg], mj: params[:mj])%>">请选择预算价格</option>
                                <% Yusuan.all.each do |f|%>
                                  <option value="<%= case_index_path(fg: params[:fg], mj: params[:mj] , yusuan: f.id)%>" <%= 'selected' if f.id.to_s == params[:yusuan]%>> <%= f.title%> </option>
                                <% end -%>
                            </select>
                    <span class="arrow"></span>
                    </div>
                </div>

                </div>
           </div>
           </form>
  </section>

  <section class="g-body" style="margin:10px 0;">

  <div class="indexCase">
      <div class="swiperCase">
        <ul class="swiperCaseList swiper-wrapper">

          <% Product.where(tj: true).each do |c| %>

          <li class="swiper-slide">

            <%= link_to case_path("#{c.id}.html"), class: "block" do %>

              <%= image_tag c.product_pictures.where(pricture_type: 0).first.try(:path)%>
              <p class="t1 f-toe"><%= c.title -%></p>
              <p class="t2">风格：<%= c.fg.title -%>&nbsp;&nbsp;&nbsp;&nbsp;面积：<%= c.mj.title -%></p>
              <p class="t2">楼盘地址: <%= c.lp_name -%></p>
            <% end -%>
          </li>
          <% end -%>
        </ul>
      </div>
      <div class="swiperCaseCtl swiper-pagination"></div>
    </div>
    <div class="indexCaseM">
      <ul>
        <% @cases.each do |c|%>
        <li>
          <%= link_to case_path("#{c.id}.html"), class: "block" do %>
            <%= image_tag c.product_pictures.where(pricture_type: 0).first.try(:path)%>
            <p class="t1 f-toe"><%= c.lp_name -%></p>
            <p class="t2">风格：<%= c.fg.title%>&nbsp;&nbsp;&nbsp;&nbsp;面积：<%=c.mj.title%></p>
          <% end -%>
        </li>
        <% end -%>
      </ul>
    </div><!--推荐案例赏析 结束-->

  </section>





  <% content_for :script do %>
    <script>
      $(function(){
        var mySwiper1 = new Swiper ('.indexBnr', {
            direction: 'horizontal',
            loop: true,
            pagination: '.bnrCtl',
          })
          var mySwiper2 = new Swiper ('.swiperCase', {
            direction: 'horizontal',
            loop: true,
            pagination: '.swiperCaseCtl',
          })
      })
      </script>

  <% end -%>