<% content_for :title ,'精选案例' -%>
<header class="g-hd">
  <%= link_to root_path, class: "btnfanhui-page" do %>
    <span class="ico sprite"></span>
  <% end -%>
  <div class="btnMenu-page"><span class="ico sprite"></span></div>
  <strong>精选案例</strong>
  <%= link_to serach_index_path, class: "btnSearch-page" do %>
    <span class="ico sprite"></span>
  <% end -%>
</header>

  <section class="g-body Common">
    <h3 class="tit"><%= @c.title %></h3>
    <h4 class="f-tit">项目风格：<%= @c.fg.title %>&nbsp;&nbsp;&nbsp;&nbsp;房屋面积：<%= @c.mj.title %><br> 楼盘地址 : <%= @c.lp_name%></h4>

    <div class="design-case">
      <span class="tx"><%= image_tag @c.designer.avatar -%></span>
      <h3><%= @c.designer.name %>&nbsp;/&nbsp;<%= @c.designer.zw -%></h3>
      <%= link_to "预约设计师", "/designer/new.html?id=#{@c.designer.id}", class: "cyysjs" %>
    </div>
  </section>


  <section class="g-body Common">
    <p class="CommonContent xian"><strong>案例展示</strong></p>
    <% @c.product_pictures.where(pricture_type: 1).each do |picture|%>
      <%= image_tag picture.path -%>
    <% end -%>


  </section>

  <section class="g-body Common">
    <p class="CommonContent xian"><strong>设计理念</strong></p>
    <div class="CommonContent"> <%= raw @c.content%></div>
  </section>
  <section class="g-body">
    <div class="indexCaseM">
    <h1 class="title">推荐其他案例<br><em>探索更多案例</em></h1>
      <ul>
        <% Product.where(tj: true).order(created_at: :desc).limit(4).each do |c| %>
        <li>
          <%= link_to case_path("#{c.id}.html"), class: "block" do %>
            <%= image_tag c.product_pictures.where(pricture_type: 0).first.try(:path)%>
            <p class="t1 f-toe"><%= c.lp_name%></p>
            <p class="t2">风格：<%= c.fg.title%>&nbsp;&nbsp;&nbsp;&nbsp;面积：<%=c.mj.title%></p>
          <% end -%>
        </li>
        <% end -%>
      </ul>
    </div><!--推荐案例赏析 结束-->
  </section>


<% content_for :script do %>
  <script type="text/javascript">
    $(function(){
      var mySwiper1 = new Swiper ('.indexBnr', {
          direction: 'horizontal',
          loop: true,
          pagination: '.bnrCtl',
        })
        var mySwiper2 = new Swiper ('.swiperCase', {
          direction: 'horizontal',
          loop: true,
          pagination: '.swiperCaseCtl',
        })
    })
  </script>
<% end -%>