<%= simple_form_for([:admin, @manager]) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%#= f.input :password_digest %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :supper %>
  <%= f.input :disabled %>
  <%#= f.input :authority, collection: Manager.auths, as: :check_boxes %>
  <div class="ln_solid"></div>

  <div class="item form-group">
    <div class="col-md-6 col-sm-6 offset-md-3">
      <%= link_to t('buttons.back'), admin_managers_path, class: 'btn btn-secondary' %>
      <%= f.button :submit, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
