<div class="x_panel">
  <div class="x_title">
    <h2>分会管理
      <small>
        <%= link_to "新增", new_admin_manager_path, class: 'btn btn-info btn-sm' %>
      </small>
    </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th><%= Manager.human_attribute_name(:name) %></th>
          <th><%= Manager.human_attribute_name(:email) %></th>
          <th><%= Manager.human_attribute_name(:supper) %></th>
          <th><%= Manager.human_attribute_name(:disabled) %></th>
          <th width="10%"></th>
          <!--<th></th>
          <th></th>-->
        </tr>
      </thead>

      <tbody>
        <% @managers.each do |manager| %>
          <tr>
            <td><%= manager.name %></td>
            <td><%= manager.email %></td>
            <td><%= manager.supper %></td>
            <td><%= manager.disabled %></td>
            <!--<td><%= link_to t('actions.show'), [:admin, manager] %></td>-->
            <td>
              <%= link_to t('actions.edit'), edit_admin_manager_path(manager) %>

              <% if current_manager.supper %>
                <%= link_to t('actions.destroy'), [:admin, manager], method: :delete, data: { confirm: '确定删除吗?' } %>
              <% end -%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

