<% content_for :title ,'设计团队' -%>
<div class="pagebnr bnr4">
  <div class="g-inr"><span><%= image_tag "banner-tit.png"%></span></div>
</div>



<div class="g-body">
  <div class="g-inr">
    <div class="p_left f-fl"><h3 class="title sjs">设计团队</h3></div><!--p_left end-->
    <div class="p_right f-fr">
      <div class="weizhi"><em class="f-fr">当前位置：首页 > 设计团队</em></div>
    </div><!--p_right end-->
  </div><!--g-inr end-->



 <!--筛选分类模块开始
	<div class="fenlei">
    <div class="center">
      <ul>
        <li>
          <h3>按风格</h3>
          <p>
            <a href="/designer.html?designer_department_id=<%= params[:designer_department_id] %>">不限</a>
            <% Fg.all.order(created_at: :desc).each do |fga|%>
              <%= link_to fga.title, "/designer.html?fg_id=#{fga.id}&designer_department_id=#{params[:designer_department_id]}", class: "#{'sel' if fga.id.to_s == params[:fg_id]}"%>
            <% end -%>
          </p>
        </li>
        <% DesignerGroup.all.each do |group|%>
        <li>
          <h3><%= group.name %></h3>
          <p>
            <a href="/designer.html?fg_id=<%= params[:fg_id] %>">不限</a>
            <% group.designer_departments.each do |designer_department| %>
              <%= link_to designer_department.name, "/designer.html?designer_department_id=#{designer_department.id}&fg_id=#{params[:fg_id]}", class: "#{'sel' if designer_department.id.to_s == params[:designer_department_id]}"%>
            <% end -%>
          </p>
        </li>
        <% end -%>
      </ul>
    </div>
  </div>筛选分类模块结束-->

  <!--设计师列表模块开始-->
  <div class="desginer-list">
    <ul>
        <% @designers.each do |designer| %>
        <li>
          <%= link_to designer_path("#{designer.id}.html"), class: "link" do %>

            <%= image_tag designer.avatar %>
            <span class="eyeIco trst">
              <p class="title f-toe"><%= designer.name%><br><em class="fs14"><%= designer.zw %></em></p>

            </span>
            <span class="more">预约TA</span>
          <% end -%>
        </li>
        <% end -%>
    </ul>
  </div>
  <!--设计师列表模块结束-->

  <!--分页符模块开始-->
  <div class="g-inr"> <%= paginate @designers %> </div>
  <!--分页符模块结束-->
</div>