<% content_for :title ,'预约设计师' -%>
<div class="pagebnr bnr4">
  <div class="g-inr"><span><%= image_tag "banner-tit.png" -%></span></div>
</div>
<div class="g-body">
  <div class="g-inr">
    <div class="p_left f-fl"><h3 class="title sjs">设计团队</h3></div><!--p_left end-->
    <div class="p_right f-fr">
      <div class="weizhi"><em class="f-fr">当前位置：首页 > 预约设计师</em></div>
    </div><!--p_right end-->
  </div><!--g-inr end-->


    <!--设计师预约模块开始-->
  <div class="yytitle">
    <h3>预约设计师<br><em>只为你找寻最合适的设计师</em></h3>
    <p class="line"></p>
  </div><!--title end-->
  <div class="desginer-page" style="height: 550px;">
    <div class="d-1"><%= image_tag @designer.avatar %></div>
    <div class="yuyue">
      <h3>目前已有<em class="color2 bold"><%= DesignerContact.count + 17 %></em>位业主成功预约设计师</h3>
        <div class="sjsbd">
        <%= form_for @designer_contact, url: designer_index_path, remote: true do |f|%>
            <div class="formWrap">
              <div class="inputWrap inputWrap1 textWrap">
                <%= f.text_field :name, class: "inputText text" %>
                <p class="inputTip tip">请填写您的姓名</p>
              </div>
              <div class="inputWrap inputWrap1 f-fr textWrap">
                <%= f.text_field :tel, class: "inputText text" %>
                <p class="inputTip tip">请填写您的电话</p>
              </div>
              <div class="inputWrap inputWrap1 textWrap">
                <%= f.text_field :zone, class: "inputText text" %>
                <p class="inputTip tip">请填写小区名称</p>
              </div>
              <div class="inputWrap inputWrap1 f-fr textWrap">
                <%= f.text_field :mj, class: "inputText text" %>
                <p class="inputTip tip">请填写房屋面积</p>
              </div>
              <div class="inputWrap inputWrap1">
                <input class="inputText text" type="text" name="" value="<%= @designer.name %>" disabled>
                <%= f.hidden_field :designer_id, value: params[:id], class: "inputText text" %>
              </div>
              <!--<div class="inputWrap inputWrap1 f-fr textWrap">
                <%= f.text_field :datetime, class: "inputText text" %>
                <p class="inputTip tip">请填写预约时间</p>
              </div>-->
              <input class="submitBtn trst" type="submit" value="提交 预约TA">
              
              <div class="tishi">*为了您的权益，您的隐私将被严格保密*</div>
            </div>
          <% end -%>
                 </div>
             </div>
        </div>
        <!--设计师预约模块结束-->


  </div>
  <!--网站主内容模块结束-->
