<p id="notice"><%= notice %></p>

<p>
  <strong><%= ActivityRecord.human_attribute_name(:user_id) %>:</strong>
  <%= @activity_record.user_id %>
</p>

<p>
  <strong><%= ActivityRecord.human_attribute_name(:activity_id) %>:</strong>
  <%= @activity_record.activity_id %>
</p>

<%= link_to t('buttons.edit'), edit_admin_activity_record_path(@activity_record) %> |
<%= link_to t('buttons.back'), admin_activity_records_path %>
