<div class="x_panel">
  <div class="x_title">
    <h2>帖子
      <small>
        <%= link_to "新增", new_admin_topic_path, class: 'btn btn-info btn-sm' %>
      </small>
    </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th><%= Topic.human_attribute_name(:node_id) %></th>
          <th><%= Topic.human_attribute_name(:title) %></th>
          <th><%= Topic.human_attribute_name(:content) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @topics.each do |topic| %>
          <tr>
            <td><%= topic.node.title %></td>
            <td><%= topic.title %></td>
            <td><%= topic.content %></td>
            <td>
              <%= link_to t('actions.show'), [:admin, topic] %>
              <%= link_to t('actions.edit'), edit_admin_topic_path(topic) %>
              <%= link_to t('actions.destroy'), [:admin, topic], method: :delete, data: { confirm: '你确定吗?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

