<%= simple_form_for([:admin, @node]) do |f| %>
  <%= f.error_notification %>

    <%= f.input :title %>
    <%#= f.input :manager_id %>
    <div class="ln_solid"></div>

    <div class="item form-group">
      <div class="col-md-6 col-sm-6 offset-md-3">
        <%= link_to t('buttons.back'), admin_nodes_path, class: 'btn btn-secondary' %>
        <%= f.button :submit, class: 'btn btn-success' %>
      </div>
    </div>
    <%= f.button :submit %>
<% end %>
