<div class="x_panel">
  <div class="x_title">
    <h2>板块
      <small>
        <%= link_to "新增", new_admin_node_path, class: 'btn btn-info btn-sm' %>
      </small>
    </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th><%= Node.human_attribute_name(:title) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @nodes.each do |node| %>
          <tr>
            <td><%= node.title %></td>
            <td>
              <%= link_to t('actions.show'), [:admin, node] %>
              <%= link_to t('actions.edit'), edit_admin_node_path(node) %>
              <%= link_to t('actions.destroy'), [:admin, node], method: :delete, data: { confirm: '你确定吗?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
