<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">
      <%= simple_form_for @manager, url: admin_create_session_path, html: {class: "form-validate"} do |f| %>
        <h1>登录</h1>
        <div>
          <%= text_field_tag :auth_key, "", class: 'form-control', required: true, autofocus: true, placeholder: '邮箱' %>
        </div>
        <div>
          <%= password_field_tag :password, "", class: 'form-control', required: true, placeholder: '密码'  %>
        </div>

        <div>
          <%= submit_tag t("buttons.sign_in"), class: 'btn btn-default' %>
        </div>

        <div class="clearfix"></div>

        <div class="separator">

          <div class="clearfix"></div>
          <br />

          <div>
            <h1><%= image_tag "l2.png", style: "margin-top: -3px"%> 林老师频道</h1>
            <p>©2020 All Rights Reserved. </p>
          </div>
        </div>
      <% end %>
    </section>
  </div>
</div>
<!--
<div class="signin-wrap">
 <div class="login-logo"></div>
  <div class="container">

      <h2 class="form-signin-heading name"></h2>


      <label class="checkbox">
        <input type="checkbox" value="remember-me"> 记住密码
      </label>


  </div>
  <div class="tishi"></div>
</div>
-->
