<div id="w_grid-1571719344816" class="w_grid-000" data-tmpleditable="editable"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571719344816-0" class="e_box e_box-000 d_gridCell_0 p_gridCell ND_empty" data-editablecontent="1571719344816"><div id="w_grid-1571735798001" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571735798001-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1571735798011" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571735798011-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_common_text-1571735798051" class="reset_style"><div><p><span style="line-height:1.6"><span style="font-size:34px"><span style="font-family:微软雅黑"><span style="color:#FFFFFF"><strong>视频音频</strong></span></span></span></span></p>
</div></div></div>       </div>  </div></div></div>       </div>  </div></div><div id="w_grid-1571739762566" class="w_grid-000" data-vhide100p="true" data-vhide1024="true"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571739762566-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1571739762572" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571739762572-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_common_text-1571739762576" class="reset_style"><div><p><span style="color:#FFFFFF"><span style="line-height:1.6"><span style="font-size:34px"><span style="font-family:微软雅黑"><strong>视频音频</strong></span></span></span></span></p>
</div></div></div>       </div>  </div></div></div>       </div>  </div></div><div id="w_grid-1571735798021" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571735798021-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1571735798031" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571735798031-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"><div id="w_grid-1571735798041" class="w_grid-000"><div class="w_grid signal">   <div class="e_box e_box-000 p_gridbox">         <div id="content_box-1571735798041-0" class="e_box e_box-000 d_gridCell_0 p_gridCell"></div>       </div>  </div></div><div id="c_portalResVideo_detail-15717358212798514" class="c_portalResVideo_detail-01001" loaded="true">

<div class="e_box p_xvideoBoxCon" style="height: auto">
    <h3 class="e_box p_xvideo_detailTitle h3 borderB_default pcTitle" data-ename="视频标题"> 美国寄宿高中如何管理学生的</h3>
    <h3 class="e_box p_xvideo_detailTitle h4 borderB_default moTitle" data-ename="视频标题"> 美国寄宿高中如何管理学生的</h3>
    <div class="e_box pcSortBox">



    </div>

    <div class="e_box p_xvideoBox" style="width: auto;height: auto" data-ename="视频内容盒子">
        <div class="e_box p_xvideoImg" style="position: relative">
            <%= raw @video.content -%>
        </div>
    </div>
    <div class="e_box p_xvideoInfoCon" style="width: auto;">
        <div class="e_box p_xvideo_detail_descr moDesc borderB_default" data-ename="视频描述">
            <span class="outlineDesc"><span class="i_outlineDesc">概要描述</span>：</span> <span class="categroySummary"></span>
        </div>

        <div class="blank background_form"></div>
        <div class="p_xvideo_desc">
            <div class="p_infoDes h4 borderB_default color_title"><span class="i_p_infoDes">详情描述</span></div>
            <div class="p_describeInfo js-fixLed is-truncated js-single" style="overflow-wrap: break-word;"><div class="reset_style js-reset_style js-adapMobile " style="display: block;"></div></div>
        </div>
        <div class="p_infoItem">
            <p class="fl">
            <span class="span_key"><span class="i_span_key">关键词</span>：</span>
            </p>
        </div>
    </div>
    <div class="e_box p_aHrefPageBox clearFloat" data-ename="上一条下一条">
        <div class="e_box p_s_page fl" data-ename="上一条">
            <span class="sPage">
                <span class="i_sPage">上一条</span><i class="mosign">：</i>
            </span>
            <% if @video.previous.nil? %>
              <span class="p_no"><span class="i_no">无</span> </span>
            <% else %>
              <%= link_to news_path(@video.previous.id) do%>
                <span><%= @video.previous.title %></span>
              <% end -%>
            <% end -%>
        </div>
        <div class="e_box p_x_page fr" data-ename="下一条">
            <span class="xPage">
                <span class="i_xPage">下一条</span> <i class="mosign">：</i>
            </span>

            <% if @video.next.nil? %>
              <span class="p_no"><span class="i_no">无</span> </span>
            <% else %>
              <%= link_to news_path(@video.next.id) do%>
                <span><%= @video.next.title %></span>
              <% end -%>
            <% end -%>


        </div>
    </div>
</div>


</div></div>       </div>  </div></div></div>       </div>  </div></div></div>       </div>  </div></div>