<%= simple_form_for([:admin, @vip]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :levels %>
    <%= f.input :price %>
    <%= if Gem::Specification.find_all_by_name('rails_kindeditor').length >= 1
      f.input :content, :as => :kindeditor, :input_html => { :width => '100%', :height => 300 }
    else
      f.input :content, as: :text, input_html: { width: '100%', rows: 20 }
    end
    %>
    <%= f.input :parent_id %>
    <div class="ln_solid"></div>

    <div class="item form-group">
        <div class="col-md-6 col-sm-6 offset-md-3">
            <%= link_to t('buttons.back'), admin_vips_path, class: 'btn btn-secondary' %>
            <%= f.button :submit, class: 'btn btn-success' %>
        </div>
    </div>
  </div>
<% end %>
