<p id="notice"><%= notice %></p>

<p>
  <strong><%= Donate.human_attribute_name(:content) %>:</strong>
  <%= @donate.content %>
</p>

<p>
  <strong><%= Donate.human_attribute_name(:user_id) %>:</strong>
  <%= @donate.user_id %>
</p>

<p>
  <strong><%= Donate.human_attribute_name(:manager_id) %>:</strong>
  <%= @donate.manager_id %>
</p>

<%= link_to t('buttons.edit'), edit_admin_donate_path(@donate) %> |
<%= link_to t('buttons.back'), admin_donates_path %>
