<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "admin/jquery.datetimepicker.min.css" -%>
<% end %>

<%= simple_form_for([:admin, @activity]) do |f| %>
    <%= f.error_notification %>
    <%= f.input :title %>
    <%= f.input :categoryable_id, collection: ItemCategory.find_by(cite_key: 'activity').children %>
    <%= if Gem::Specification.find_all_by_name('rails_kindeditor').length >= 1
          f.input :content, :as => :kindeditor, :input_html => { :width => '100%', :height => 300 }
        else
          f.input :content, as: :text, input_html: { width: '100%', rows: 20 }
        end
    %>
    <%= f.input :customize_order %>
    <%= f.input :start_time, as: :string %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :picture %>
    <%= f.input :hotspot %>
    <div class="ln_solid"></div>

    <div class="item form-group">
        <div class="col-md-6 col-sm-6 offset-md-3">
            <%= link_to t('buttons.back'), admin_activities_path, class: 'btn btn-secondary' %>
            <%= f.button :submit, class: 'btn btn-success' %>
        </div>
    </div>
<% end %>
<%= content_for :javascript do %>
    <%= javascript_include_tag 'admin/jquery.datetimepicker.full.min.js'%>
    <script type="text/javascript">
        jQuery.datetimepicker.setLocale('zh');
        $('#activity_start_time').datetimepicker({
            value:'<%=  @activity.start_time %>',
            // theme:'dark',

        });
    </script>
<% end %>
