<p id="notice"><%= notice %></p>

<p>
  <strong><%= Activity.human_attribute_name(:title) %>:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong><%= Activity.human_attribute_name(:content) %>:</strong>
  <%= @activity.content %>
</p>

<p>
  <strong><%= Activity.human_attribute_name(:customize_order) %>:</strong>
  <%= @activity.customize_order %>
</p>

<p>
  <strong><%= Activity.human_attribute_name(:start_time) %>:</strong>
  <%= @activity.start_time %>
</p>

<p>
  <strong><%= Activity.human_attribute_name(:location) %>:</strong>
  <%= @activity.location %>
</p>

<p>
  <strong><%= Activity.human_attribute_name(:description) %>:</strong>
  <%= @activity.description %>
</p>
<%= image_tag "data:image/png;base64,#{Base64.encode64(@activity.get_wxacode.body)}"%>

<%= link_to t('buttons.edit'), edit_admin_activity_path(@activity) %> |
<%= link_to t('buttons.back'), admin_activities_path %>
