<%= content_for :stylesheets do %>
  <link href="/assets/gentelella/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/assets/gentelella/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/assets/gentelella/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/assets/gentelella/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/assets/gentelella/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<% end %>

<div class="x_panel">
  <div class="x_title">
    <h2>产品列表
      <small>
        <%= link_to "新增", new_admin_product_path, class: 'btn btn-info btn-sm' %>
      </small>
    </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-hover table-bordered" id="datatable">
      <thead>
        <tr>
          <th>#</th>
          <th><%= Product.human_attribute_name(:name) %></th>
          <th><%= Product.human_attribute_name(:price) %></th>
          <th><%= Product.human_attribute_name(:online) %></th>
          <th><%= Product.human_attribute_name(:customize_order) %></th>
          <th><%= Product.human_attribute_name(:recommendation) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each_with_index do |product, index| %>
          <tr>
            <td><%= index + 1%></td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.online %></td>
            <td><%= product.customize_order %></td>
            <td><%= product.recommendation %></td>
            <td>
              <%= link_to t('actions.show'), [:admin, product] %>
              <%= link_to t('actions.edit'), edit_admin_product_path(product) %>
              <%= link_to t('actions.destroy'), [:admin, product], method: :delete, data: { confirm: '你确定吗?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= content_for :javascript do %>
  <script src="/assets/gentelella/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/assets/gentelella/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/assets/gentelella/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/assets/gentelella/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/assets/gentelella/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/assets/gentelella/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/assets/gentelella/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/assets/gentelella/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/assets/gentelella/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/assets/gentelella/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/assets/gentelella/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/assets/gentelella/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/assets/gentelella/jszip/dist/jszip.min.js"></script>
  <script src="/assets/gentelella/pdfmake/build/pdfmake.min.js"></script>
  <script src="/assets/gentelella/pdfmake/build/vfs_fonts.js"></script>
<% end %>

