<div class="x_panel">
  <div class="x_title">
    <h2>个性咨询</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
                  <th><%= Person.human_attribute_name(:name) %></th>
                  <th><%= Person.human_attribute_name(:nianji) %></th>
                  <th><%= Person.human_attribute_name(:city) %></th>
                  <th><%= Person.human_attribute_name(:email) %></th>
                  <th><%= Person.human_attribute_name(:leixing) %></th>
                  <th><%= Person.human_attribute_name(:content) %></th>
                <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @people.each do |person| %>
          <tr>
                      <td><%= person.name %></td>
                      <td><%= person.nianji %></td>
                      <td><%= person.city %></td>
                      <td><%= person.email %></td>
                      <td><%= person.leixing %></td>
                      <td><%= person.content %></td>
                    <td><%#= link_to t('actions.show'), [:admin, person] %></td>
            <td><%#= link_to t('actions.edit'), edit_admin_person_path(person) %></td>
            <td><%= link_to t('actions.destroy'), [:admin, person], method: :delete, data: { confirm: '你确定吗?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



<%#= link_to "#{t('actions.new')}#{Note.model_name.human}", new_admin_note_path, class: 'btn btn-default' %>



<%#= link_to "#{t('actions.new')}#{Person.model_name.human}", new_admin_person_path, class: 'btn btn-default' %>
