<p id="notice"><%= notice %></p>

<p>
  <strong><%= Note.human_attribute_name(:title) %>:</strong>
  <%= @note.title %>
</p>

<p>
  <strong><%= Note.human_attribute_name(:content) %>:</strong>
  <%= @note.content %>
</p>

<p>
  <strong><%= Note.human_attribute_name(:recommendation) %>:</strong>
  <%= @note.recommendation %>
</p>

<p>
  <strong><%= Note.human_attribute_name(:price) %>:</strong>
  <%= @note.price %>
</p>

<%= link_to t('buttons.edit'), edit_admin_note_path(@note) %> |
<%= link_to t('buttons.back'), admin_notes_path %>
