    <div class="lianxi">
        <div class="lianxi_div1" data-am-scrollspy="{animation:'slide-top', repeat: false}">
            <h2>硕予珠宝有限公司</h2>
            <span style='font-size:12px'>
                <i> <%= image_tag 'lx_6.jpg' %> </i>
                回购黄金、铂金、钯金，兑换板料及买卖</span>
            <span style='font-size:12px'><i><%= image_tag 'lx_1.jpg' %></i>地址 铁岭市银州区柴河街103号</span>
            <span><i>
                <%= image_tag 'lx_5.jpg' %></i>手机：<a style="color:#494949;" href="tel:17741000666">17741000666</a></span>
            <span><i><%= image_tag 'lx_5.jpg' %></i>手机：<a style="color:#494949;" href="tel:18141000000">18141000000</a></span>
        </div>
    </div>
    <span class="jinjia_span mb_20 mt_20">
        <%= image_tag 'qr.png' %>

    </span>
<div class="footer" data-am-scrollspy="{animation:'slide-top', repeat: false}">

    <ul class="foot_ul">
        <li class=""><a href="/" class="">金价</a></li>
        <li class="current"><a href="/contact" class="">联系</a></li>
    </ul>

</div>