<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>修改</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <%= simple_form_for @item_category, url: admin_product_category_path(@item_category),
                    wrapper: :horizontal_form do |f| %>
                    <%= f.error_notification %>
                    <%= f.input :name %>
                    <%= f.input :cite_key %>
                    <%#= f.input :cite_key %>
                    <%#= f.input :parent_id, collection: ItemCategory.tree.unshift(ItemCategoryRoot.new), label_method: :tree_select_name, prompt: "请选择类别"  %>
                    <div class="ln_solid"></div>

                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <%= link_to t('buttons.back'), admin_activity_categories_path, class: 'btn btn-secondary' %>
                            <%= f.button :submit, class: 'btn btn-success' %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>