<div id="w_grid-1571719401709" class="w_grid-000">
  <div class="w_grid signal">
    <div class="e_box e_box-000 p_gridbox">
      <div id="content_box-1571719401709-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
        <div id="w_grid-1571719401714" class="w_grid-000">
          <div class="w_grid ">
            <div class="e_box e_box-000 p_gridbox">
              <div id="content_box-1571719401714-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
                <div id="w_fimg-1571719401718" class="w_fimg-000">
                  <div class="w_img animated  ">
                    <div class="e_box e_box-000 p_box">
                      <div class="e_image e_DImage-001 p_dimage">
                        <%= image_tag 'few.png', alt: "公众号二维码", title: "公众号二维码", width: "100%", height: "100%" %>
                      </div>
    </div> </div></div></div>         <div id="content_box-1571719401714-1" class="e_box e_box-000 d_gridCell_1 p_gridCell"><div id="w_grid-1571736128035" class="w_grid-000">
      <div class="w_grid ">
        <div class="e_box e_box-000 p_gridbox">
          <div id="content_box-1571736128035-0" class="e_box e_box-000 d_gridCell_0 p_gridCell">
            <div id="w_common_text-1571736128040" class="reset_style">
              <div>
                <p>
                  <%= link_to root_path do %>
                    <span style="color:#FFFFFF"><span style="font-size:16px"><strong>首页</strong></span></span>
                  <% end -%>
                </p>
              </div>
            </div>
          </div>
          <div id="content_box-1571736128035-1" class="e_box e_box-000 d_gridCell_1 p_gridCell">
            <div id="w_common_text-1571736128042" class="reset_style">
              <div>
                <p>
                  <%= link_to book_path('mybook') do %>
                    <strong>
                      <span style="color:#FFFFFF">
                        <span style="line-height:1.4">
                          <span style="font-size:16px">
                            <span style="font-family:微软雅黑">原创作品</span>
                          </span>
                        </span>
                      </span>
                    </strong>
                  <% end -%>
                </p>
                <p>
                  <br>
                  <span style="font-size:14px">
                    <span style="line-height:2">
                      <%= link_to corpvideo_index_path do %>
                        <span style="color:#D3D3D3">视频音频</span>
                      <% end -%>
                      <br>
                      <%= link_to news_index_path do %>
                        <span style="color:#D3D3D3">精华文章</span>
                      <% end -%>
                      <br>
                      <%= link_to book_path('mybook') do %>
                        <span style="color:#D3D3D3">出版书籍</span>
                      <% end -%>
                    </span>
                  </span>
                  <br>
                  &nbsp;
                </p>
</div></div></div>
<div id="content_box-1571736128035-2" class="e_box e_box-000 d_gridCell_2 p_gridCell">
  <div id="w_common_text-1571736128045" class="reset_style">
    <div>
      <p>
        <a href="/jaiting.html">
          <strong>
            <span style="color:#FFFFFF">
              <span style="line-height:1.4">
                <span style="font-size:16px">
                  <span style="font-family:微软雅黑">家庭服务</span>
                </span>
              </span>
            </span>
          </strong>
        </a>
      </p>

      <p>&nbsp;</p>

<p><%= link_to service_index_path do %><span style="color:#D3D3D3"><span style="font-size:14px"><span style="font-family:微软雅黑">服务介绍</span></span></span><%end%></p>

<p><span style="line-height:2"><span style="font-size:14px"><%= link_to commit_index_path do %><span style="color:#D3D3D3">家长评语</span><% end -%><br>
<%= link_to qa_index_path do %><span style="color:#D3D3D3">个性咨询</span><%end%></span></span><br>
&nbsp;</p>
</div></div></div>         <div id="content_box-1571736128035-3" class="e_box e_box-000 d_gridCell_3 p_gridCell"><div id="w_common_text-1571736128050" class="reset_style"><div><p><%= link_to contact_index_path do %><strong><span style="color:#FFFFFF"><span style="line-height:1.4"><span style="font-size:16px"><span style="font-family:微软雅黑">联系方式</span></span></span></span></strong><% end %></p>
</div></div></div>       </div>  </div></div></div>       </div>  </div></div></div>       </div>  </div></div>