<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
        <li>
            <%= link_to main_app.admin_path do %>
                <i class="fa fa-home"></i>首页
            <% end %>
        </li>

        <li>
            <a><i class="fa fa-gamepad"></i> 文章管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><%= link_to "文章分类", wizcms_article.admin_article_categories_path %></li>
                <li><%= link_to "文章列表", wizcms_article.admin_articles_path %></li>
            </ul>
        </li>

        <li><%= link_to "页面管理", wizcms_article.admin_pages_path %></li>

        <li> <%= link_to "链接分类", wizcms_link.admin_wizcms_link_categories_path %> </li>
        <li> <%= link_to "链接管理", wizcms_link.admin_links_path %> </li>

    </ul>
    </div>

</div>