<div class="col-lg-12">
  <div class="index_title">
    <a href="#"><span>无</span></a>
    <em class="r-m"><em class="add">+</em>
    <%= link_to "更多", zh_article_category_articles_path(:see) %>
    </em>
  </div>
  <div class="pic_text">
    <div class="pic_img"><%= image_tag "0423.jpg"%></div>
    <div>
      <ul class="pic_img_right">
      <% if !@see.list.blank? %>
      <% @see.list.limit(5).each do |l|%>
        <li>
          <%= link_to l.title.truncate(18), zh_article_path(l) %>
        </li>
      <% end -%>
      <% else %>
        <li><a href="#">还没有内容</a></li>
      <% end -%>
      </ul>
    </div>
  </div>
  <div class="clr"></div>
  <br>
  <div class="index_title">
    <%= link_to "<span>无</span>".html_safe, zh_page_path(:learning) %>
  </div>
  <div class="index_right_text">
    <%= strip_tags(@learning).truncate(200)%>
  </div>
  <%= image_tag "20140629.jpg", width: "100%" ,class: "clr"%>
  <br>
  <div class="index_title">
    <%= link_to "<span>无</span>".html_safe, zh_page_path(:enterprise) %>
  </div>
  <div class="index_right_text">
    <%= strip_tags(@enterprise).truncate(200)%>
  </div>
</div>